*{
margin: 0;
padding: 0;
}

body{
  background: linear-gradient(70deg,#13131A, #39396a);
  font-family: helvetica, arial, sans-serif;
  font-weight: 300;
  color: #fff;
}

.close {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: ' ';
  background: rgba(121, 120, 120, 0.4);
}

.header {
  font-size: 42px;
}


header nav img {
  max-width: 150px;
}

.about, .contact {
  display: none;
  
}

.about .content, .contact .content {
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background: linear-gradient(70deg, #cf2cc4, #7a0072);
  max-width: 500px;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.content:hover {
  cursor: default;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2)
}

/*Hover-pointer effect*/
.close:hover, .cta:hover, .cta:focus,
.card-container:hover {
  cursor: pointer;
}

.about.open, .contact.open{
  display: block;
}

.email, .github-link {
  text-decoration: underline;
}

.cta {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  display: block; 
  margin: 10px auto;
  padding: 10px;
  border: 2px solid #4589f700;
  border-radius: 5px;
  background-color: #13131A;
  color: #fff;
  transition: all .5s;
}

.cta:hover {
  text-decoration: line-through;
  border: 2px solid #4588f7;
  border-radius: 5px;
}

.cta:focus {
  text-decoration: line-through;
  border: 2px solid #4588f7;
  border-radius: 5px;
}

nav{
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}

/*main section*/

h1, h2, h3 {
  font-family: 'Cormorant Garamond', serif;
}

h1 {
  margin: 20px auto;
  text-align: center;
}

.intro {
  margin: 10px auto;
  max-width: 400px;
  text-align: center;
}

.intro p {
  margin: 10px;
}

.intro1 {
  font-size: 24px;
}

.intro2 {
  font-weight: 900;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #fff;
}

.display-container {
  max-width: 900px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px auto;
}

.card-container {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 400px;
  height: 420px;
  margin: 10px;
  border: 2px solid #13131A;
  border-radius: 5px;
  background: linear-gradient(70deg #39396a #13131A);
  transition: all 0.3s;
}

img {
  width: 100%;
}

.card-content {
  padding: 10px;
  display: flex; 
  flex-direction: column;
}

.card-content h3 {
  align-self: center;
  margin: 10px;
}

.card-links {
  display: flex; 
  justify-content: space-around;
  margin: 10px;
}

.card-container:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

/*footer*/
footer{
  height: 100px;
  display: flex; 
  align-content: center;
  background-color: #13131A;
}

footer .cta {
  align-content: center;
}