*{
margin: 0;
padding: 0;
}

body{
  background: linear-gradient(70deg,#13131A, #39396a);
  font-family: helvetica, arial, sans-serif;
  font-weight: 300;
  color: #fff;
}

.close {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: ' ';
  background: rgba(121, 120, 120, 0.4);
}

.header {
  font-size: 32px;
}

header nav img {
  max-width: 200px;
}

.about, .contact {
  display: none;
  
}

.about .content, .contact .content {
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background: linear-gradient(70deg, #cf2cc4, #cf2cc4);
  max-width: 500px;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.content:hover {
  cursor: default;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2)
}

.close:hover{
  cursor: pointer;
}

.about.open, .contact.open{
  display: block;
}

.cta {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  display: block; 
  margin: 10px auto;
  padding: 10px;
  border: 2px solid #4589f700;
  border-radius: 5px;
  background-color: #13131A;
  color: #fff;
  transition: all .5s;
}

.cta:hover {
  text-decoration: line-through;
  cursor: pointer;
  border: 2px solid #4588f7;
  border-radius: 5px;
}

.cta:focus {
  text-decoration: line-through;
  cursor: pointer;
  border: 2px solid #4588f7;
  border-radius: 5px;
}

nav{
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}